.profile-container{
  margin-top: 5em;
}

.social-container{
//  @include border-radius(5px);
  padding: 0.5em;
  margin: 0.25em;
}
.facebook-container{
  background-color: lighten($facebook-color, 30%);
}

.twitter-container{
  background-color: lighten($twitter-color, 30%);
}

.google-container{
  background-color: lighten($google-color, 30%);
}
